/* styles.css */

html {

    background-color:darkslategray;
}

h1 {

    color:rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}

body {

    color:white;
}

a {
    color: white;
  }
