/* styles.css */

html {

    background-color:darkslategray;
}

h1 {

    color:rgb(212, 212, 212);
}

body {

    color:white;
}

a {
    color: white;
  }

p {
    /* font-size: 35px; */
    font-size: 2em;
  }
