/* styles.css */
.container{
  max-width: 850px;
  margin: 0 auto;
  padding: 10px;

}

/*for about me buttons */

.containerButtons{
  max-width: 850px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {

    background-color:darkslategray;
}

/*add button*/
.button {


  background-color: rgb(243, 228, 198);
  color:black;
  text-align: center;
  margin: 4px 2px;
  padding: 15px 32px;
  margin-right: 20px;

}

.button-container {
  display: flex; /* Use flexbox to align buttons horizontally */
  justify-content: center; /* Center buttons horizontally */
  gap: 20px; /* Spacing between buttons */
  margin-top: 20px; /* Top margin for the button container */
}




.centered-container {
    text-align: center;
    padding: 15px;
  }
            .inline-hyperlink {
                display: inline;
            }

h1 {

    color:rgb(212, 212, 212);
}

body {

    color:white;
    border-left: 300px;
    border-right: 300px;
}

a {
    color: white;
  }

p {
    /* font-size: 35px; */
    font-size: 2em;
  }

.parent {
  text-align: center;
}
.parent > ul {
    padding: 0px;
  padding-left: 0;
  display: inline-block;
}